<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>OSC_HOST</key>
  <string></string>
  <key>NSLocalNetworkUsageDescription</key>
  <string>Connect to the OSC bridge on your local network.</string>
  <key>NSBonjourServices</key>
  <array>
    <string>_osc._udp</string>
    <string>_osc._tcp</string>
  </array>
  <key>NSAppTransportSecurity</key>
  <dict>
    <key>NSAllowsArbitraryLoads</key>
    <false/>
    <key>NSExceptionDomains</key>
    <dict>
      <key>local</key>
      <dict>
        <key>NSIncludesSubdomains</key>
        <true/>
        <key>NSExceptionAllowsInsecureHTTPLoads</key>
        <true/>
      </dict>
    </dict>
  </dict>
  <key>NSCameraUsageDescription</key>
  <string>Scan QR codes to set the OSC host.</string>
</dict>
</plist>
